.App {
  max-width: 800px;
  margin: 0 auto;
}

.App img {
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formElement {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
